#proyects .title-proyects{
    font-family: w;
    font-size: 5rem;
    margin: 6rem 0rem 4rem;
    text-align: center;
}
.sectionProyects{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 7rem 5.5rem;
}

.card-list .card-item{
    /* width: 40rem; */
    height: 60rem;
    user-select: none;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-list .card-item .proyect-image{
    height: 30rem;
    width: 30rem;
    margin-bottom: 3rem;
    border: 1px solid #fff;
    padding: .4rem;
    border-radius: 8px;
    background-color: #000;
}
.card-list .card-item .proyect-name {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .8px;
    text-align: center;
}
.card-list .card-item .proyect-description {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 1.4rem 0 3rem;
    text-align: justify;
}

.card-list .card-item .view-more {
    padding: 1rem 3.5rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: #cdd2da;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .view-more:hover {
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid #fff;
}

.card-list .card-item .view-more:hover .btn-view-more {
    color: #cdd2da;
}

.btn-view-more{
    font-size: 1.25rem;
    color: #030728;
    font-weight: 500;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: #cdd2da;
    height: 1.5rem;
    width: 1.5rem;
}

.slider-wrapper .swiper-slide-button{
    color: #cdd2da;
    margin-top: -5rem;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover{
    color: rgba(255, 255, 255, 0.5);
}


