/* Globales */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: w;
  src: url(../fonts/WanoQuin-ExtraBold.otf);
}
html {
  font-size: 62.5%;
}
body {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #141414;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  z-index: 1000;
  background: transparent;
  transition: background-color 200ms ease, border-color 200ms ease, backdrop-filter 200ms ease;
}
.navbar .animation-nav {
  position: absolute;
  bottom: 0;
  height: 0.2rem;
  width: 5rem;
  background: linear-gradient(90deg , transparent , #fff);
  animation: animate 5s infinite linear;
}
@keyframes animate {
  0% {
    left: 0;
    transform: translate(-100%);
  }
  100% {
    left: 100%;
    transform: translate(0%);
  }
}

.navbar.navbar--scrolled {
  background: rgba(20, 20, 20, 0.25);       
  border-bottom-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);    
}

@supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
  .navbar.navbar--scrolled {
    background: rgba(20, 20, 20, 0.75);
  }
}
.menu li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}
.menu, .media {
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: 200;
}
/* Navbar mobile */
.nav-menu-mobile {
  display: none;
}
.nav-menu-mobile a {
  color: whitesmoke;
}
/* Menu burguer*/
.burguer {
  min-width: 2.6rem;
  min-height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 5rem;
  cursor: pointer;
}
.burguer .line-burguer {
  border-radius: .5rem;
  background-color: whitesmoke;
  opacity: 0.6;
  width: 100%;
  height: .2rem;
  transition: all 300ms ease-out;
}
/* Menu burguer active */
.burguer.active .line1 {
  opacity: 0;
  width: 0;
}
.burguer.active .line2 {
  transform: translateY(2.5px) rotate(45deg);
}
.burguer.active .line3 {
  transform: translateY(-2px) rotate(-45deg);
}
/* Menu desplegable */
.nav-menu-mobile div:nth-child(2){
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #141414;
  opacity: .3;
  width: 100vw;
  height: 0px;
  position: absolute;
  z-index: 3;
  top: 5.5rem;
  left: 0px;
  transition: all 250ms ease-out;
}
.nav-menu-mobile div.open:nth-child(2) {
  height: 15vh;
}
.open a{
  text-transform: uppercase;
  font-weight: 300;
}

/* Home */
.wrapper {
  display: flex;
  flex-direction: column;
}
section {
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}
.video-section video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -2;
  position: relative;
  opacity: .5;
}
.img-container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.text-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: w;
  width: 42rem;
  position: relative;
  height: 10rem;
  overflow: hidden;
}
.title span {
  position: absolute;
}
.bg {
  font-size: 10rem;
}
.sm {
  font-size: 5rem;
  height: 5rem;
}
.left {
  left: -25%;
}
.right {
  top: 5rem;
  left: 80%;
}
.text-content p{ 
  transform: translateY(15rem);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .9rem;
  font-weight: 30rem;
  margin-top: 5rem;
}

/* About me */
.v-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
  gap: 5rem;
}
.tv {
  font-family: w;
  display: flex;
  text-transform: capitalize;
}
.left-bottom{
  margin-left: 1rem;
}
.bottom {
  transform: translateY(5rem);
}
.text-container {
  max-width: 70rem;
}
.text-container p{
  padding-bottom: 1 rem;
  font-size: 1.5rem;
  line-height: 1.3;
  opacity: .9;
}
.text-container p:nth-child(2){
  font-family: w;
  text-align: end;
  font-size: 5rem;
}
.right-side{
  margin: auto;
  width: 9.5rem;
  height: 9.5rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
  position: relative;
  transform: translate(40rem, 5rem);
}
.right-side p{
  position: absolute;
  top: 42%;
  left: -8%;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.fa-arrow-right-long{
  transform: translateX(2.2rem);
}
/* About me */
#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin: auto;
}
#aboutMe .title-aboutMe{
  font-family: w;
  font-size: 5rem;
  margin: 6rem 0rem;
}
#aboutMe .title-skills{
  font-family: w;
  font-size: 5rem;
  margin: 8rem 0rem 0rem;
  text-align: center;
}
#aboutMe h3{
  font-family: w;
  font-size: 4rem;
  margin: 6rem 0rem;
  color: rgba(116, 155, 169, 0.5);
}
#aboutMe .aboutCont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  
}
#aboutMe .contenedor_imagen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#aboutMe .imgMe {
  width: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
}
#aboutMe .aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
#aboutMe .aboutText p{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 40vw;
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.5;
  opacity: .8;
  font-weight: 300;
}

#aboutMe .skills{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgIconExp .imgIcon {
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Footer */
footer{
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.logo{
  text-transform: capitalize;
  font-size: 3rem;
  cursor: pointer;
  font-family: w;
}
.icon-redes.ln{
  height: 3rem;
}
.icon-redes.gh{
  opacity: 0.7;
  height: 2.8rem;
}
.icon-redes.ig{
  height: 3.189rem;
  transform: translate(-3px, -1px)
}




